[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
prometheus-client = "*"
fritzconnection = "*"
tabulate = "*"
pyyaml = "*"

[requires]
python_version = "3.9"
